<div class="max-w-lg m-auto px-2">
  <h1 class="text-3xl mt-10">Schedule a new session</h1>
  <p class="text-sm text-gray-500 mb-6">Schedule a new consulting session by choosing the best time that works for you below.</p>
  <%= render 'form', meeting: @meeting %>
</div>

