<div class="my-10 m-auto w-7/12">
  <div class="p-10 bg-white border border-grey-light rounded">

    <div class="flex flex-wrap justify-between items-center mb-5">
      <h1><%= @meeting.name %></h1>
      <%= link_to "Cancel Meeting", meeting_path(@meeting), method: :delete, data: { confirm: "Are you sure you want to cancel? "}, class: "btn btn-destroy" if admin? %>
    </div>

    <div class="border p-6 bg-gray-100 mb-5 flex items-center justify-between">
      <p class="border-2 py-3 px-4 border-indigo-200 rounded-full text-sm text-indigo">
        Start time: <span class="font-bold"><%= readable_time(@meeting.start_time) %></span>
      </p>
      <div class="border-t-2 border-indigo-200 border-dashed h-1 flex-1"></div>
      <p class="border-2 py-3 px-4 border-indigo-200 rounded-full text-sm text-indigo">
        End time: <span class="font-bold"><%= readable_time(@meeting.end_time) %></span>
      </p>
    </div>

    <h4>Comments</h4>
    <hr class="border" />

    <% unless user_signed_in? %>
      <div class="bg-grey-200 rounded p-4 mt-4 text-center">
        <p class="text-sm text-grey-dark"><%= link_to "Login", new_user_session_path, class: "link" %> or <%= link_to "Sign up", new_user_regsitration_path, class: "link" %> to comment.</p>
      </div>
    <% else %>
        <%= render 'comments/form' %>
    <% end %>

    <div id="comments">
      <%= render @meeting.comments %>
    </div>
  </div>
</div>
