<div class="flex items-start p-4 mt-4 border rounded">
  <div class="flex-1 pl-4 flex intems-start justify-between">
    <div class="leading-normal">
      <p class="text-gray-800 text-xs">
        <%= comment.user.first_name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      </p>
      <div class="text-gray-800">
        <%= comment.body %>
      </div>
    </div>

    <% if author_of(comment) %>
      <div>
        <%= link_to "Delete", meeting_comment_path(comment.meeting, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-pink"%>
      </div>
    <% end %>

  </div>
</div>
