<p class="text-sm text-gray-800 my-2">comment as <%= current_user.first_name %></p>

<%= form_for([@meeting, @comment], remote: true) do |f|%>
  <div class="relative">
    <%= f.hidden_field :reply, class: "input h-32 border border-gray-200 resize-none", placeholder: "Add any notes or replies here", value: 'default'%>
  </div>

  <div class="relative">
    <%= f.label "Add your comment"%>
    <%= f.rich_text_area :body, class: "input h-32 border border-gray-200 resize-none", placeholder: "Add any notes or replies here"%>
  </div>

  <div class="relative">

    <%= f.submit class: "btn btn-small btn-indigo block w-full text-center text-xl mt-2" %>
  </div>
<% end %>
