<div class="flex flex-wrap items-center mb-5 mr-4 ml-4 text-gray-400">
  <div class="flex-1 flex justify-between items-center">
    <div><h3 class="text-lg"><%= user.name %></h3> <%= user.first_name %> <% if current_user %>(You)<% end %></div>
    <p>Joined on <%= readable_time(user.created_at) %></p>

  </div>
  <%= link_to 'Delete User', users_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-pink ml-4" if admin? %>
</div>

<% if user.meetings.any? %>
  <div class="block pl-2 border-l border-gray-400 mb-5">
    <p class="text-xs uppercase tracking-loose text-grey-400 pt-1">Upcoming Meetings</p>
    <% user.meetings.each do |meeting| %>
        <%= link_to meeting.name, meeting, class: "link my-2 inline-block" %>
    <% end %>
  </div>
<% end %>
