#nav-tab .active a {
  @apply bg-indigo-600 text-white;
}

.tab {
   @apply p-5 no-underline inline-block text-indigo-400;
   transition: ease 0.2s all;
   margin-bottom: -1px;

   &:hover {
    @apply bg-indigo-900 text-white;
   }

   &:active {
      @apply text-white;
   }
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

